<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <h1><a href="/admin">Admin Portal</a> </h1>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Admin Portal</h1>
        <a href="/addUserForm">Add User</a> | <a href="/users">Existing Users</a> <br>
         <a href="/addBooks">Add Books</a> | <a href="/allBooks">Existing Books</a>
        
       
    </div>
</body>

</html>