<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <h1><a href="/admin">KTM Library Portal</a> </h1>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Kathmandu Library</h1>
        <p>Discover and share reviews of your favorite books.</p><br>
        <a href="/addUserForm">Add User</a> | <a href="/users">Existing Users</a> 
       
    </div>
</body>

</html>