<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Borrow Portal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Header / Navbar -->
    <header>
        <nav>
            <div class="nav-left">
                <h1><a href="/index">KTM Library Portal</a></h1>
            </div>
        </nav>

    </header>

    <!-- Main Content - Book Cards -->
    <main>
        <section class="book-grid">
            <!-- Book Card 1 -->
            <div class="book-card">
                <img src="img/book1.jpg" alt="Book 1">
                <div class="book-details">
                    <h2>back to work</h2>
                    <p>Author: Bill Clinton</p>
                    <p>Available: 10 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>

            <!-- Book Card 2 -->
            <div class="book-card">
                <img src="img/book2.jpeg" alt="Book 2">
                <div class="book-details">
                    <h2>Rich Dad Poor Dad</h2>
                    <p>Author: Robert T. Kiyoaki</p>
                    <p>Available: 5 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>

            <!-- Book Card 3 -->
            <div class="book-card">
                <img src="img/book1.jpg" alt="Book 1">
                <div class="book-details">
                    <h2>back to work</h2>
                    <p>Author: Bill Clinton</p>
                    <p>Available: 10 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>

            <!-- Book Card 4 -->
            <div class="book-card">
                <img src="img/book2.jpeg" alt="Book 2">
                <div class="book-details">
                    <h2>Rich Dad Poor Dad</h2>
                    <p>Author: Robert T. Kiyoaki</p>
                    <p>Available: 5 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>
            <!-- Book Card 5 -->
            <div class="book-card">
                <img src="img/book1.jpg" alt="Book 1">
                <div class="book-details">
                    <h2>back to work</h2>
                    <p>Author: Bill Clinton</p>
                    <p>Available: 10 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>

            <!-- Book Card 6 -->
            <div class="book-card">
                <img src="img/book2.jpeg" alt="Book 2">
                <div class="book-details">
                    <h2>Rich Dad Poor Dad</h2>
                    <p>Author: Robert T. Kiyoaki</p>
                    <p>Available: 5 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>
            
            <!-- Book Card 7 -->
            <div class="book-card">
                <img src="img/book1.jpg" alt="Book 1">
                <div class="book-details">
                    <h2>back to work</h2>
                    <p>Author: Bill Clinton</p>
                    <p>Available: 10 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>

            <!-- Book Card 8 -->
            <div class="book-card">
                <img src="img/book2.jpeg" alt="Book 2">
                <div class="book-details">
                    <h2>Rich Dad Poor Dad</h2>
                    <p>Author: Robert T. Kiyoaki</p>
                    <p>Available: 5 copies</p><br>
                    <button>Borrow</button>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 KTM Library Portal. All rights reserved.</p>
    </footer>
</body>

</html>