<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Review Portal</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <center>
            <h1>Welcome to the Book Review Portal</h1>
        </center>
        <p>Your go-to place for book reviews and discussions</p>
    </header>

    <section>
        <center>
            <h2>Featured Reviews</h2>
        </center>
    </section>

    <footer>

    </footer>
</body>

</html>
