<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTM Library</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <h1><a href="/index">KTM Library Portal</a> </h1>
        </div>
        <div class="nav-right">
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <div class="detail">
        <h1>Login to check the User's Details</h1><br>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required><br>
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
    
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
