<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KTM Portal</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <nav>
        <div class="nav-left">
            <h1><a href="/index">KTM Library Portal</a></h1>
        </div>
        <div class="nav-right">
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <div class="detail">
        <h1>Sign Up to check the User Details</h1>
        <br />
        <!-- Display error message if passwords don't match -->
        <div th:if="${errorMessage != null}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <form action="/signup" method="post">

            <label for="studentName">Student Name:</label>
            <input type="text" id="studentName" name="studentName" required /><br />

            <label for="email">Student Email:</label>
            <input type="email" id="email" name="email" required /><br />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required /><br />

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirmPassword" required /><br />

            <input type="submit" value="Sign Up" />

        </form>
    </div>
</body>

</html>